<div class="page-header" data-parallax="true" style="background-image: url('../../../content/images/logo-image.jpg');">
    <div class="container">
        <div class="motto text-center" style="bottom:0%">
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <h1><font color="#990033">THE SRI CHAKRA / SRI YANTRA</font></h1>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center" style="background-color:#e0ebeb">
    <div class="container">
        <div class="row">
			<font color="navy"><b>
            <div class="col-md-12 mr-auto ml-auto">
                <h5 class="card-description text-justify" style="text-indent:50px">
The non-profit <font color="red">Shakti-US</font> in its mission states its philosophy, belief and goal’s to be for
the advancement of Gender Equality and Women’s empowerment. They wish to achieve this
through promoting leadership and mentoring from rural and underdeveloped regions in the
form of Education, Healthcare, Social and Economic advancement. Hence the non-profit’s
choice of the name <font color="red">SHAKTI</font> and logo as <font color="red">Sri Yantra/Sri Chakra.</font>		
				</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
<font color="red">SHAKTI</font> in Sanskrit means ‘’power, ability, strength, might, effort, energy, and
capability”. Sri Yantra also known as Sri Chakra, is a geometrical symbolism of the word
<font color="red">SHAKTI</font>. It represents our human body at a microcosmic level through the geometrical design
in relation to the cosmos at a macrocosmic level. It depicts gender equality, awareness of
one’s potential, purpose in life and ultimate enlightenment of one’s roots, which is more than
their ancestry.
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
Empowerment of the sexes, rights and amendments are dependent on social and
political issues. However, whether or not they exist, we need to think of ourselves as
individuals with potential, strengths and qualities, irrespective of being male or female. Rather
than seeing ourselves as part of a political and social environment, we need to see ourselves
as part of the human civilization and rediscover our contribution to further development of
human civilization individually and collectively as a society.
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
Women certainly have a big role to play in the development of human civilization. A
woman is considered to be the first guru, and as the child’s first teacher the mother can
change the <font color="red">Samskaras</font> (Habits and Behaviors through well thought out actions) and <font color="red">Karmas</font>
(deeds) of a person. Education received from a <font color="red">Guru</font> can enable changes in the intellect,
mind, emotions and performance ability. The education received from the mother can create
better habits, healthy mentality, for a better life. Gurus and women can both work as very
powerful forces to bring about a dramatic, qualitative change in human society. Therefore,
Emphasis of one’s role in terms of gender is irrelevant, thinking about one’s role as a human
being to uplift others, is the answer for a balanced healthy society.
</h5>
                <br/>
                <h2 class="title"><font color="#990033"><b>What is Sri Yantra/Shri Chakra-Meaning and Symbolism</b></font></h2>
                <h5 class="card-description text-justify" style="text-indent:50px">
The <font color="red">Sri Yantra’s</font> documented age is more than 12,000-year-old. It is a Geometrical
symbol and is considered the mother of all Yantra’s. Yantra’s are geometrical designs based
on the principles of sacred geometry and have been typically used for meditation. Yantra is a
visual <font color="red">Mantra</font> (verbal repetition or positive affirmation). It is a symbol or icon of the mother
universe in a geometric form. It can be viewed in a circle mandala (flat) form and pyramidal 3D
form for the viewer to attain higher state of awareness. Each Yantra design contains a center
point or “dot” from which geometric shapes and designs radiate. Traditionally, such symbols 
were used to balance the left and right aspects of the brain, to focus our minds to obtain
spiritual enlightenment.
				</h5><br/><h5 class="card-description text-justify" style="text-indent:50px"> 
<font color="red">Sri Yantra</font> maps a seeker’s spiritual journey from the earthly plane to final
enlightenment; from the outer rectangles to the central dot, i.e. center of the Universe, the
place of origin and unity where one merges with the supreme consciousness. Sri Chakra is a
celebrated Yantra used in the worship of the primordial energy. The Chakra is conceived as a
symbol of the human body and represents gender equality. This was considered to be a
sacred pattern of a dot, triangle’s, circles, vertical horizontal and diagonal lines, Square and
petals in a circle. It contains all forms of sacred geometry/golden ratio, which is mathematically
precise and also represents the union of the <font color="red">Masculine and Feminine</font> energies (The upward
triangles meeting the downward triangles). This unity of Masculine and Feminine is also seen
in other symbols such as the <font color="red">Star of David</font>. This unity and synchronicity is achievable through
meditation.
 </h5><br/><h5 class="card-description text-justify" style="text-indent:50px"> 	
This sacred pattern is what the sages of the Siddha Yoga and their disciples used to
discover the secrets of our universe and they proposed that the Sri Yantra/Sri Chakra is the
key to understanding the principles of creation and destruction, and human potential in relation
to the Universe.
 </h5><br/><h5 class="card-description text-justify" style="text-indent:50px"> 
<font color="red">Sri Yantra’s</font> geometrical symbolism and components describe that as Human beings
there is no difference between both male and female genders. Yoga aspires to harness the
human potential rather than defining both genders roles in the society or civilization. Whenever
a need has emerged, society has given full opportunities to both sexes. It was our social,
cultural and religious environment in the past that created certain adverse attitudes and
mentalities which went against the social environment and changes in gender equality and
Yantra principle evolved.
				</h5>
				
				<h2 class="title"><font color="#990033"><b>Components of the Sri Yantra/Sri Chakra</b></font> </h2>
                <h5 class="card-description text-justify" style="text-indent:50px">
				In summary, the Sri Yantra is a geometrical symbol that is comprised of <font color="red">9</font> interlocking
<font color="red">triangles</font> forming <font color="red">43</font> intersected triangles, which include <font color="red">diagonal, vertical, horizontal</font> lines
and with <font color="red">2 circles</font> of lotus petals. The entire design is surrounded by a <font color="red">gated square</font> frame
that is referred to as the “<font color="red">earth’s citadel</font>”. The triangles are centered around the central point
of the Sri Yantra, known as the <font color="red">Bindu</font> in a tiny dot form. This geometrical pattern is called the
<font color="red">Mandala</font> and represents the world’s energy. We start the description from the outer side of Sri
Yantra and proceed towards its inner details.
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
The outer side of Sri Yantra contains <font color="red">a square with 8 sides. The square</font> represents
the <font color="red">physical body</font>. The 8 corners of the square are the 8 directional deities, starting from top 
in clock-wise direction, <font color="red">Kubera-protector of world (North), Esaana (North-East), Indra-rain
and thunder (East), Agni-Fire (South-East), Yama-deity of Death(South), NirrutiAnalytical
knowledge (South-West), Varuna-water (West) and Vaayu – Wind (NorthWest).</font> These 8 deities are elements present in our Human body. Any excess or deficit in one
or more of these elements will lead to diseases and destruction of the physical body. The
earth’s square has 3 layers at its outside. These layers represent <font color="red">Tamah (Baser qualities),
Rajah (Anger and Desires)</font> and <font color="red">Satwah (Softness)</font>. These 3 qualities are always attached to
the human body.

		</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
From this earth square, we move towards the center of Sri Yantra, we see <font color="red">3 concentric
circles</font>. The <font color="red">outer circle represents Manah (mind)</font>, the next one represents <font color="red">Buddhi
(intelligence)</font>, and the <font color="red">innermost circle</font> represents the <font color="red">Jeevatma (human soul)</font>. The
significance of this: our wavering mind should apply its intelligence and find the ways to
understand the soul. Once we get the awareness of the soul in our body, we are ready to tap
into the subtle energies of our body. <font color="red">Our body is a vast reservoir of different types of
energies like light, heat and sound</font>. The numerous nerves of the human body circulate these
energies and are finally connected to brain through the spinal cord. These nerves meet in
bundles at the spinal cord and these regions are called <font color="red">Chakras</font> which are viewed as
reservoirs of energy. These chakras are represented in the form of petals as detailed below.
	</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
Then we proceed to the <font color="red">16 petals of Sri Yantra</font>: that represent <font color="red">Kaama (Desire),
Buddhi (Intelligence), Ahankaara (Ego), Sabda (Hearing), Sparsa (Touch), Roopa (Sight),
Rasa (Taste), Gandha (Smell), Chittha (Mind), Dhairya (Courage), Smirtya (Memory),
Naama (Name), Beeja (Fire), Aatma (Soul), Amrita (Water) and Sareera (Body)</font>. These are
the elements (or different form of energies) through which our <font color="red">Jeevatma</font> (human soul)
understands and interacts with the outside world. One can attain mastery over these elements
by meditating and balancing the chakra energies in the body through meditation and yoga,
which can aide in enhancing one in building more internal strength and insight called ‘<font color="red">siddhis</font>’
powers.
	</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">				
The next layer of <font color="red">8 petals of the inner circle</font> represents the <font color="red">8 Siddhis (Internal
Strength/Powers)</font>. They are <font color="red">Anima (Smallness), Laghima (Bigness), Garima (Heaviness),
Mahima (Creativity), Esatva (Devotion or Piety), Vasatva (impulse control), Praakamya
(Objectivity) and Iccha (Want and Willfulness)</font>. Using these energies, we can perform
activities of daily routine and when they are refined, we can attain higher degree of spiritual
insight and enlightenment.
	</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">				
Next layer is the <font color="red">interlaced triangles</font>. Each triangle is formed with 3 straight lines
resulting in <font color="red">3 vertices</font> which are denoted by Beeja Mantras- Seed Mantras like Lym, Hreem
and Sreem. These vertices denote <font color="red">Jnaana-knowledge through meditation (Iym), Kriya-
Breath controlled practices (Hreem) and Iccha- willfulness (Sreem)</font>. There are <font color="red">4 upward
triangles</font> representing <font color="red">Siva</font> (the male force) and the 5 downward triangles represent the
female force, called <font color="red">Shakti</font> (the female force). When 4 upward and 4 downward triangles are
taken, they are balanced. They represent that this entire Universe is emerged from <font color="red">Siva and
Shakti</font>. The one remaining downward triangle represents <font color="red">Mother Nature</font>. We live in this
Nature and feel that this is the only real world. This feeling is called <font color="red">Maaya (illusion)</font>. Once we
come out of this illusion, we will be able to understand balance of the male and female
strength. The intersected triangles are <font color="red">43 in total</font> and considered as energy reservoirs which
release and store energy.
	</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">				
Lastly, the Dot <font color="red">(Bindu)</font> is in the center of the Sri Yantra. It is recommended to sit with
eyes closed and start visualizing a dot in the top centre of one’s head. This place represents
the <font color="red">Sahasrara (Crown chakra)</font>. Concentration on the crown chakra helps one to attain selfrealization
and self-actualization which dilutes the perception of <font color="red">Maaya (Illusion)</font> and connect
our <font color="red">Jeevathma (bodily soul)</font> to the all-pervading Supreme Energy in the Universe. This is
called <font color="red">‘Samaadhi’ (dwelling in the devotion)</font>. Thus, Sri Yantra becomes an instrument for
mankind to unite into the Supreme Energy in the Universe.
Thus, ends the description of the meaning of the components of the Sri Yantra/Sri
Chakra.
	</h5><br/>
				
			<h2 class="title"><font color="#990033"><b>Purposes of the Sri Chakra and its Scientific Applications in recent times: </b></font> </h2>
                <h5 class="card-description text-justify" style="text-indent:50px">
These Mandala’s have been used for centuries as a component of tantric meditation
practice. The geometric unity within the pieces reflects the unity of the individual with the
surrounding universe, and this pattern of repetition has long been shown to help balance the
mind. In meditation each step of the mandala is considered, and the self is encouraged to
recognize the process of merging with surrounding energies.
	</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
However, the Sri Yantra can also have meaning in psycho-therapeutic practice, as a
way to help individuals consider the geometric patterns that underlie everyday life, and as a
symbolic path to understanding the elements that make a person whole in treating various
illnesses with the mind and body.				
	</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
		Examples of the other uses are in Vedic Astrology and Vastu-Sastra which is the study of the directions to build a house or a dwelling.  The Sri Yantra is used in Medicine, Dentistry, Art, Music, Engineering, Mathematics and Psychology and Physics. 
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
<u><font color="red">Medical example</font>: The PINEAL gland and the Sri Yantra:</u> Staring at the central dot or ‘Bindu’ of the Sri Yantra is known and proven to create changes within the brain and the stimulation of <font color="red"><u>the Pineal gland</u></font> by focusing our attention on the ‘center of the forehead’ area. The <u>Pineal gland</u> is a small endocrine gland in the brain. It produces <font color="red">Melatonin, a Serotonin derived hormone</font>, which affects the modulation of sleep patterns in both seasonal and circadian rhythms. <font color="red">Its shape resembles a tiny pine cone</font> (hence its name), and it is located in the <font color="red">Epithalamus</font>, near the center of the brain, between the two hemispheres, tucked in a groove where the two halves of the thalamus join. <u>Rene Descartes</u> believed the pineal gland to be the “principal seat of the soul” and viewed it as the <font color="red">third eye</font>.
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
The Sri Yantra is considered to be a symbol of immense power partly because when one meditates for prolonged periods on it, <font color="red">one can focus their attention on the area between their eyebrows which stimulates the pineal gland</font>, which increases the <font color="red">alpha brain wave activity</font> (this fact is based on controlled EEG studies at Moscow University). The Sri Yantra amongst other forms of Pineal gland stimuli could be the most important thing to feel the superhuman self.
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
The Sri Yantra’s <font color="red">mathematically precise design is based upon Golden Proportion or Phi ratio</font>. Everything that exists in nature, is constructed in a proportionately precise manner and this proportion is called the Golden/Phi ratio. It is a simple mathematical relationship found naturally and in many great works of art <font color="red">(Leonardo Di Vinci’s Vitruvian man and The Mona Lisa)</font> and even architecture such as the positioning of the <font color="red">Pyramids of Giza</font>.
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
The beauty of someone’s face is also based upon these Golden Proportions, and even the shape and position of their front teeth (felt obliged to throw that one in being a Dentist!). The technology company <font color="red">Apple</font> also used Golden Proportion when designing their products to make them more appealing to the customers eyes. Our bodies are also roughly based on this Golden Proportion. In simple terms, the Golden Ratio suggests that everything, starting from the tiniest speck, expands and grows in proportions of 1.618, from a microscopic level to a macroscopic level for increased stability and beauty. Famous mathematicians, such as Pythagorus, also commented on the <font color="red">Golden Ratio and it being the blueprint applied to all of creation</font>.
</h5><br/><h5 class="card-description text-justify" style="text-indent:50px">
Even sound and our hearing follow’s this same ratio and follows the Golden Proportion. The finest music known to man is also based on Golden Proportion. Some scientists found that the Acoustical Engineering tests of the sound of <font color="red">OM</font> illustrated the Sri Chakra/Sri Yantra.  

		

				</h5>
            </div>
			</b></font>
        </div>
        <br/><br/>
    </div>
</div>
</div>
