<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://shaktius6.herokuapp.com/">Shakti-US</a></li>
                    <li><a href="http://blog.shakti-us.org">Blog</a></li>
                </ul>
				
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by sailene
                </span>
            </div>
        </div>
    </div>
</footer>
