	<div class="section text-center" style="background-color:#e0ebeb">
		<div class="container">
			<div class="row">
				<font color="navy"><b>
				<div class="col-md-12 mr-auto ml-auto">
					<h1 class="title"><font color="#990033"><b>Our Story</b></font></h1> 
					<h5 class="card-description text-justify" style="text-indent:50px">SHAKTI-US works towards advancement of equity for women through advocacy, education, better healthcare and economic empowerment. SHAKTI-US aims to achieve its goal of championing the advancement of women by providing, developing and promoting leadership in women, through professional expertise, mentoring and through building strategic alliances with partners in the areas of sustainable rural development. The goal of SHAKTI-US is to ensure that the underprivileged women in rural communities are empowered with the right skills and tools that enable them to be the agents of change in overall human development.</h5>
					<br>
				</div>
				<div class="col-md-12 mr-auto ml-auto">
					<h5 class="card-description text-justify" style="text-indent:50px">The Millennium Development Goals set forth by the United Nations at the turn of the new millennium did help the cause of gender equality and women’s empowerment throughout the developing nations. Unfortunately, the initiatives for gender equality have not fully translated into gender equity in terms of access to education, healthcare and economic opportunities for women in rural and under developed regions of the world. Violence and discrimination on women have not only been common but on the rise in many countries across the world. </h5>
					<br>
				</div>
				<div class="col-md-12 mr-auto ml-auto">
					<h5 class="card-description text-justify" style="text-indent:50px">We at SHAKTI-US believe that gender equality is a fundamental human right and women empowerment is a necessary condition for an equitable, peaceful, and prosperous world. We believe that achieving sustainable development through women empowerment in rural and under developed areas in the areas of education, healthcare and economic opportunities would uplift the condition and dignity of under privileged women.</h5>
					<br>
				</div>
				<div class="col-md-12 mr-auto ml-auto">
					<h5 class="card-description text-justify" style="text-indent:50px">SHAKTI-US will strive to mentor and groom the younger generation of women to actively participate in the socio-political and economic decision-making processes through various programs in education, healthcare and economic development using Information and Communication Technologies.</h5>
					<br>
				</div>
				<div class="col-md-12 mr-auto ml-auto">
					<h5 class="card-description text-justify" style="text-indent:50px">SHAKTI-US would like to bring the underprivileged women to the forefront on the world stage so that they can help build sustainable and stable societies.</h5>
					<br>
				</div>
				</b></font>
			</div>
			<br/><br/>
			<div class="row">
				<div class="col-md-4">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-circle-10"></i>
						</div>
						<div class="description">
							<h3 class="info-title"><font color="#990033"><b>Spirit of Human Acceptance</b></font></h3><font color="navy">
							<br/>
							<p class="card-description text-justify" style="text-indent:50px">Gender equity is not a privilege it’s a right. SHAKTI-US aims to promote neutrality between all genders,    
                    while celebrating distinctive norms and traditions of cultures world over.</p></font>
							<!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-bulb-63"></i>
						</div>
						<div class="description">
							<h3 class="info-title"><font color="#990033"><b>Knowledge, Talent</b></font></h3><font color="navy">
							<br/>
							<p class="card-description text-justify" style="text-indent:50px">SHAKTI-US enables women with the means and 
              opportunities to showcase their abilities to reach the epitome of  
              their potential. SHAKTI-US aims to empower women by promoting 
              programs and activities in education, healthcare and economic 
              development.</p></font>
							<!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-single-02"></i>
						</div>
						<div class="description">
							<h3 class="info-title"><font color="#990033"><b>Insight</b></font></h3><font color="navy">
							<br/>
							<p class="card-description text-justify" style="text-indent:50px">SHAKTI-US specifically caters to rural and underprivileged woman  
          the world over. Shakti strives to Expand choices for women and help 
          them make informed decisions in life.</p></font>
							<!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
						</div>
					</div>
				</div>
				<!-- <div class="col-md-3">
					<div class="info">
						<div class="icon icon-danger">
							<i class="nc-icon nc-sun-fog-29"></i>
						</div>
						<div class="description">
							<h4 class="info-title">Delightful design</h4>
							<p>Find unique and handmade delightful designs related items directly from our sellers.</p>
							<a href="#pkp" class="btn btn-link btn-danger">See more</a>
						</div>
					</div>
				</div> -->
			</div>

		</div>
	</div>
