fieldset {
  overflow: hidden
}

.some-class {
  float: left;
  clear: none;
}

.radiolabel {
  float: left;
  clear: none;
  display: block;
  padding: 0 1em 0 5px;
}


input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}